
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.sparkline[data-v-93dd89db]{position:relative}.sparkline[data-v-93dd89db] .sparkline--cursor{stroke:var(--v1f4c94fe)}.sparkline[data-v-93dd89db] .sparkline--spot{fill:var(--v1e4009dc);stroke:var(--v1e4009dc)}.sparkline .tooltip[data-v-93dd89db]{position:absolute;z-index:9999;padding:2px 5px;font-size:12px;color:#fff;white-space:nowrap;background:#000000b3}
