
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
  
.form[data-v-d2ba3d89]{flex-direction:column;flex:1;width:100%;display:flex;position:relative;overflow:auto}.form .top-side[data-v-d2ba3d89]{flex:1;height:0;display:flex}.form .top-side .el-form[data-v-d2ba3d89]{flex:1;display:flex}.form .top-side .form-left-side[data-v-d2ba3d89]{flex:1;padding:16px;overflow:auto}.form .top-side .form-left-side .label-tip[data-v-d2ba3d89]{color:var(--el-text-color-disabled);margin-left:10px;display:inline-flex}.form .top-side .form-left-side[data-v-d2ba3d89] .el-scrollbar__view{overflow-x:hidden}.form .top-side .form-right-side[data-v-d2ba3d89]{--un-border-style:dashed;border-left-style:dashed;border-left-width:1px;flex-direction:column;width:500px;padding:16px;display:flex}
