
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.el-form[data-v-098c153d]{display:flex;flex:1;flex-direction:column;overflow:auto}.label-tip[data-v-098c153d]{display:inline-flex;margin-left:10px;color:var(--el-text-color-disabled)}[data-v-098c153d] .el-table{height:100%;margin-top:15px}[data-v-098c153d] .el-table .el-table__row.ghost{opacity:0}[data-v-098c153d] .el-table .el-table__row .index{display:inline-block}[data-v-098c153d] .el-table .el-table__row .delete,[data-v-098c153d] .el-table .el-table__row:hover .index{display:none}[data-v-098c153d] .el-table .el-table__row:hover .delete{display:inline-block}[data-v-098c153d] .el-table .el-table__row .el-tag.sortable,[data-v-098c153d] .el-table .el-table__row .el-tag.sortable .icon{cursor:ns-resize}
