
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
  
.goods-card[data-v-22d03e12]{text-align:center;cursor:pointer;margin-bottom:20px;position:relative}.goods-card .image[data-v-22d03e12]{width:80%}.goods-card .title[data-v-22d03e12]{text-overflow:ellipsis;white-space:nowrap;margin:8px 0;font-size:16px;font-weight:700;overflow:hidden}.goods-card .sub-title[data-v-22d03e12]{text-overflow:ellipsis;color:#808695;white-space:nowrap;font-size:14px;overflow:hidden}.goods-card .price[data-v-22d03e12]{margin-top:8px}.goods-card .price .sales[data-v-22d03e12],.goods-card .price .original[data-v-22d03e12]{color:#ff6700;margin:0 5px;font-size:14px}.goods-card .price .sales[data-v-22d03e12]:before,.goods-card .price .original[data-v-22d03e12]:before{content:"￥";font-size:14px}.goods-card .price .sales[data-v-22d03e12]{font-size:18px}.goods-card .price .original[data-v-22d03e12]{color:#c5c8ce;text-decoration:line-through}.goods-card .tags[data-v-22d03e12]{position:absolute;top:15px;right:15px}
