
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.goods-card[data-v-8978c989]{position:relative;margin-bottom:20px;text-align:center;cursor:pointer}.goods-card .image[data-v-8978c989]{width:80%}.goods-card .title[data-v-8978c989]{margin:8px 0;overflow:hidden;font-size:16px;font-weight:700;text-overflow:ellipsis;white-space:nowrap}.goods-card .sub-title[data-v-8978c989]{overflow:hidden;font-size:14px;color:#808695;text-overflow:ellipsis;white-space:nowrap}.goods-card .price[data-v-8978c989]{margin-top:8px}.goods-card .price .sales[data-v-8978c989],.goods-card .price .original[data-v-8978c989]{margin:0 5px;font-size:14px;color:#ff6700}.goods-card .price .sales[data-v-8978c989]:before,.goods-card .price .original[data-v-8978c989]:before{font-size:14px;content:"￥"}.goods-card .price .sales[data-v-8978c989]{font-size:18px}.goods-card .price .original[data-v-8978c989]{color:#c5c8ce;text-decoration:line-through}.goods-card .tags[data-v-8978c989]{position:absolute;top:15px;right:15px}
