
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.goods-card[data-v-faa4bda8]{position:relative;margin-bottom:20px;text-align:center;cursor:pointer}.goods-card .image[data-v-faa4bda8]{width:80%}.goods-card .title[data-v-faa4bda8]{margin:8px 0;overflow:hidden;text-overflow:ellipsis;font-size:16px;font-weight:700;white-space:nowrap}.goods-card .sub-title[data-v-faa4bda8]{overflow:hidden;text-overflow:ellipsis;font-size:14px;color:#808695;white-space:nowrap}.goods-card .price[data-v-faa4bda8]{margin-top:8px}.goods-card .price .sales[data-v-faa4bda8],.goods-card .price .original[data-v-faa4bda8]{margin:0 5px;font-size:14px;color:#ff6700}.goods-card .price .sales[data-v-faa4bda8]:before,.goods-card .price .original[data-v-faa4bda8]:before{font-size:14px;content:"￥"}.goods-card .price .sales[data-v-faa4bda8]{font-size:18px}.goods-card .price .original[data-v-faa4bda8]{color:#c5c8ce;text-decoration:line-through}.goods-card .tags[data-v-faa4bda8]{position:absolute;top:15px;right:15px}
