
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.text-emphasis[data-v-98bd1d10]{-webkit-text-emphasis-style:"❤";text-emphasis-style:"❤"}.title-info[data-v-98bd1d10]{display:flex;align-items:center;gap:1rem}.title-info img[data-v-98bd1d10]{display:block;width:3rem;height:3rem}.title-info h1[data-v-98bd1d10]{margin:0;font-size:1.5rem;line-height:2rem}.title-info h2[data-v-98bd1d10]{margin:0;font-size:1rem;line-height:1.5rem;color:hsl(var(--secondary-foreground) / .5);font-weight:400}.qa[data-v-98bd1d10]{margin:0;list-style-type:disc;padding-left:1.5rem;color:hsl(var(--secondary-foreground) / .5)}.qa li[data-v-98bd1d10]{margin-bottom:.5rem;line-height:1.5rem}.qa li[data-v-98bd1d10]:last-child{margin-bottom:0}.qa span[data-v-98bd1d10]{--un-text-opacity:1;color:hsl(var(--secondary-foreground) / var(--un-text-opacity));font-weight:700}
