
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.flex-container[data-v-1b2c01f2]{position:absolute;display:flex;gap:20px;width:100%;height:100%;padding:20px}.flex-container .left-side[data-v-1b2c01f2],.flex-container .right-side[data-v-1b2c01f2],.flex-container .main[data-v-1b2c01f2]{--container-padding: 15px;height:100%;padding:var(--container-padding)}.flex-container .left-side[data-v-1b2c01f2],.flex-container .right-side[data-v-1b2c01f2]{flex:none;overflow:auto}.flex-container .main[data-v-1b2c01f2]{position:relative;flex:1;width:100%}.flex-container .main .main-container[data-v-1b2c01f2]{position:absolute;top:0;left:0;width:100%;height:100%;padding:var(--container-padding);overflow:auto}
