
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.form[data-v-c7eeae94],.form .el-form[data-v-c7eeae94]{display:flex;flex:1;flex-direction:column;min-height:0}.form .el-form .columns-table[data-v-c7eeae94]{display:flex;flex:1;flex-direction:column;height:0}.form .el-form .columns-table[data-v-c7eeae94] .el-form-item__content{min-height:0}.form .el-form .columns-table[data-v-c7eeae94] .el-form-item__content .el-table{height:100%}.form .action-bottom[data-v-c7eeae94]{padding-top:2px}.form[data-v-c7eeae94] .el-table .el-table__row.ghost{opacity:0}.form[data-v-c7eeae94] .el-table .el-table__row .index{display:inline-block}.form[data-v-c7eeae94] .el-table .el-table__row .delete,.form[data-v-c7eeae94] .el-table .el-table__row:hover .index{display:none}.form[data-v-c7eeae94] .el-table .el-table__row:hover .delete{display:inline-block}.form[data-v-c7eeae94] .el-table .el-table__row .el-tag.sortable,.form[data-v-c7eeae94] .el-table .el-table__row .el-tag.sortable .icon{cursor:ns-resize}
