
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.toolbar-container[data-v-beaf44c7]{height:var(--g-toolbar-height);background-color:var(--g-toolbar-bg);transition:background-color .3s}.toolbar-container .left-side[data-v-beaf44c7]{-webkit-mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent)}[dir=rtl] .toolbar-container .left-side[data-v-beaf44c7]{-webkit-mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent)}
