
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.example[data-v-2687fddf]{position:absolute;display:flex;flex-direction:column;width:100%;height:100%}.example .page-header[data-v-2687fddf]{margin-bottom:0}.example .bottom[data-v-2687fddf]{position:relative;flex:1}.example .bottom[data-v-2687fddf] .el-radio-group .el-radio-button .el-radio-button__inner{display:flex;align-items:center}.example .bottom[data-v-2687fddf] .el-radio-group .el-radio-button .el-radio-button__inner>i{margin-inline-end:10px}
