
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.left-side[data-v-c2781753]{-webkit-mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent)}[dir=rtl] .left-side[data-v-c2781753]{-webkit-mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent)}
